:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --light-gray: #d3d3d3;
    --dark: #343a40;
}

.container
{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    background-color: hsl(268, 75%, 9%);
    align-items: center;
}

.grid
{
    width: 380px;
   min-height: 450px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 50px minmax(90px, auto) minmax(300px, auto) ;
    grid-row-gap: 18px;

}
.row1
{
    /* border: 1px solid black; */

}

.row2
{
    /* border: 1px solid black; */

}
.row3
{
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 20px;
    background-color:    hsl(268, 71%, 12%);
    border-radius: 7px;
    
}
.row3 input {
    display: block;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 6px 5px hsl(290, 70%, 36%);
    font-size: 24px;
    background-color:hsl(268, 47%, 21%);
    color:   hsl(52, 100%, 62%);
    font-weight: 700;
    cursor: pointer;
}

#eqa{
    grid-area: 5 /3 /6 /5;
    background-color: hsl(176, 100%, 44%);
    box-shadow: 1px 6px 5px hsl(177, 92%, 70%);
    color: black;

}

#danger, #del{
    background-color:   hsl(281, 89%, 26%);
    color: hsl(0, 0%, 90%);
    box-shadow: 1px 6px 5px  hsl(285, 91%, 52%);
}
.row3 input:hover
{
    background-color: hsl(0, 0%, 100%);
}
#eqa:hover{
    background-color: hsl(6, 86%, 70%);
}
#del:hover, #danger:hover{
    background-color:  hsla(185, 42%, 37%, 0.747);
  
}